<nav class="navbar navbar-brand navbar-nav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/media">Recent clips</a>
  <a href="/titles">Title Holders</a>
  <a href="/videos">Videos</a>
  <a href="/videos/new">Submit new video</a>
</nav>
